<form method="post" action="?class=Form&method=salvar">

    <div>
        <label for="titulo">Titulo:</label>
        <input type="text" name="titulo" id ="titulo" required maxlength="150"/>
    </div>
    <div>
        <label for="release">Release:</label>
        <textarea name="release" id ="release" required></textarea>
    </div>
    <div>
        <label for="local">Local:</label>
        <input type="text" name="local" id ="Local" required maxlength="150" />
    </div>
    <div>
        <button type="submit">Salvar</button>
      </div>
</form>

